*.hdf
*.pickle
*.pkl
*.zip
*.pdf
*.log
*.json
*.swp
*.swn
*.swo
*.jpeg
*.jpg
*.png
__srwl_logs__/
scripts/homecomp/local/clean/EUVIL/
scripts/homecomp/local/clean/tmp*
scripts/homecomp/plotFromTif
*.dat
TEST.FILE
